In [12]:
import numpy as np
students = np.array([
    [64, 85, 76], 
    [94, 67, 84], 
    [75, 61, 69]
    ])
students

array([[64, 85, 76],
       [94, 67, 84],
       [75, 61, 69]])

In [13]:
import pandas as pd

pd.DataFrame(data = students,
            index = ['stu1', 'stu2', 'stu3'],
            columns = ['國文','英文','數學']
            )

      國文  英文  數學
stu1  64  85  76
stu2  94  67  84
stu3  75  61  69

In [14]:
import random
def get_names(nums:int=10):
    with open('name.txt',encoding='utf-8') as file:
        content = file.read()
        names = content.split('\n')
        random_names= random.sample(names,nums)
    return random_names

get_names(5)

['元延辛', '李彥伸', '余月修', '陳志偉', '鄧淑娟']

In [18]:
students_nums = 6
data = np.random.randint(50, high=101, size=(students_nums, 5))
students = pd.DataFrame(data,
                        columns=['國文', '英文', '數學', '地理', '歷史'],
                        index=get_names(students_nums))
students

     國文  英文  數學  地理  歷史
張婕妤  54  69  73  54  85
林俊翔  60  58  68  71  61
簡美君  57  86  94  61  87
戴萱能  74  72  71  98  59
龔姵君  91  64  60  70  82
吳柏誠  51  92  78  84  94