In [2]:
import numpy as np
students = np.array([
    [64, 85, 76], 
    [94, 67, 84], 
    [75, 61, 69]
    ])
students

array([[64, 85, 76],
       [94, 67, 84],
       [75, 61, 69]])

In [3]:
import pandas as pd

pd.DataFrame(data = students,
            index = ['stu1', 'stu2', 'stu3'],
            columns = ['國文','英文','數學']
            )

      國文  英文  數學
stu1  64  85  76
stu2  94  67  84
stu3  75  61  69

In [5]:
data = np.random.randint(30, high=101, size=(50, 5))
students = pd.DataFrame(data,
                        columns=['國文', '英文', '數學', '地理', '歷史'])
students

     國文  英文   數學  地理   歷史
0    74  74   75  85   65
1    37  38   39  40   38
2    96  75   57  30   74
3    98  41   75  89   78
4    82  40   82  34   85
5    53  30   78  69   65
6    81  54   72  89   56
7    86  31   97  94   65
8    71  57   69  57   59
9    49  93   77  48   77
10   40  71   57  42   83
11   78  76   94  77   93
12   86  90   64  85   35
13   70  35   43  38   81
14   40  77   35  48   79
15   59  40   79  74   60
16   37  94   63  88   74
17   73  89   87  60   41
18   91  87   89  40   97
19   90  71   31  63   92
20   93  77   61  99   34
21   45  72   60  50   59
22   62  75   60  31   56
23   69  97   39  62   30
24   72  86   50  51   91
25   68  42   64  96   48
26   37  42   88  39   71
27   50  81   33  89   83
28   43  62   92  49   81
29   33  52   87  30   34
30   66  94   71  70   80
31   74  82   75  70   30
32   71  69   78  84   62
33   59  37   73  31   32
34   79  62   40  36   86
35   41  62   47  99   93
36   65  31   77  60   35
37   60  58   90  38   41
38   48  40   82  98   61
39   95  95   81  50   87
40   38  43   67  72   76
41   88  68   72  93   51
42   81  31   80  36   70
43   95  67  100  59   37
44   34  79   95  82   79
45   78  39   68  34  100
46   97  39   70  69   30
47   75  55   89  78   81
48  100  82   98  59   83
49   81  63   57  80   86