In [2]:
import numpy as np
students = np.array([
    [64, 85, 76], 
    [94, 67, 84], 
    [75, 61, 69]
    ])
students

array([[64, 85, 76],
       [94, 67, 84],
       [75, 61, 69]])

In [7]:
import pandas as pd

pd.DataFrame(data = students,
            index = ['stu1', 'stu2', 'stu3'],
            columns = ['國文','英文','數學']
            )

      國文  英文  數學
stu1  64  85  76
stu2  94  67  84
stu3  75  61  69

In [9]:
np.random.randint(1, high=6, size=6)

array([4, 5, 1, 5, 4, 2], dtype=int32)