In [16]:
import numpy as np
students = np.array([
    [64, 85, 76], 
    [94, 67, 84], 
    [75, 61, 69]
    ])
students

array([[64, 85, 76],
       [94, 67, 84],
       [75, 61, 69]])

In [17]:
import pandas as pd

pd.DataFrame(data = students,
            index = ['stu1', 'stu2', 'stu3'],
            columns = ['國文','英文','數學']
            )

      國文  英文  數學
stu1  64  85  76
stu2  94  67  84
stu3  75  61  69

In [18]:
import random
def get_names(nums:int=10):
    with open('name.txt',encoding='utf-8') as file:
        content = file.read()
        names = content.split('\n')
        random_names= random.sample(names,nums)
    return random_names

get_names(50)

['黃善迪',
 '鄧哲榮',
 '賴佳雯',
 '戴萱能',
 '趙家豪',
 '郭致恬',
 '林志成',
 '蔡士賢',
 '楊偉翔',
 '張天亨',
 '蔡孟泉',
 '李立偉',
 '錢佩豪',
 '陳筱涵',
 '楊火帆',
 '黃麗美',
 '錢欣潔',
 '劉佳佩',
 '林玉佩',
 '高俊男',
 '黃婷婷',
 '李美洋',
 '鍾俞禎',
 '馮芳如',
 '陳怡伶',
 '林士凱',
 '陳建香',
 '孫火清',
 '黃奎紹',
 '王志謙',
 '溫法堯',
 '周家銘',
 '黃名明',
 '方筠紹',
 '吳晴洋',
 '吳俐芷',
 '謝水儒',
 '林瑞喬',
 '吳振瑋',
 '李進慧',
 '柯韋成',
 '趙宛真',
 '馮耀中',
 '彭偉妃',
 '李政成',
 '姜琬婷',
 '陳俊憲',
 '余丞苓',
 '吳柏誠',
 '朱士弘']

In [19]:
students_nums = 50
data = np.random.randint(50, high=101, size=(students_nums, 5))
students = pd.DataFrame(data,
                        columns=['國文', '英文', '數學', '地理', '歷史'],
                        index=get_names(students_nums))

In [20]:
students.to_csv('student.csv')
print('存檔成功存檔成功')

存檔成功存檔成功

In [21]:
students.to_excel('student.xlsx',sheet_name='三年八班期中考分數')