In [1]:
import pandas as pd

# Sample DataFrame
data = {'col1': [1, 2, 3, None], 'col2': ['a', 'b', 'c', 'd'], 'col3': [1.1, 2.2, 3.3, 4.4]}
df = pd.DataFrame(data)

df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    3 non-null      float64
 1   col2    4 non-null      object
 2   col3    4 non-null      float64
dtypes: float64(2), object(1)
memory usage: 228.0+ bytes

   col1 col2  col3
0   1.0    a   1.1
1   2.0    b   2.2
2   3.0    c   3.3
3   NaN    d   4.4

In [2]:
df.T

        0    1    2    3
col1  1.0  2.0  3.0  NaN
col2    a    b    c    d
col3  1.1  2.2  3.3  4.4

In [3]:
import pandas as pd
import numpy as np
# 建立一個包含 NaN 的 DataFrame
data = {'col1': [1, 2, np.nan, 4], 
        'col2': ['a', np.nan, 'c', 'd'], 
        'col3': [1.1, 2.2, 3.3, np.nan]}
df = pd.DataFrame(data)

print("原始 DataFrame：")
print(df)

原始 DataFrame：
   col1 col2  col3
0   1.0    a   1.1
1   2.0  NaN   2.2
2   NaN    c   3.3
3   4.0    d   NaN

In [4]:
# 刪除任何包含 NaN 的列
df_cleaned = df.dropna()  # 預設是 axis=0, how='any'
print("\n刪除包含 NaN 的列後的 DataFrame：")
print(df_cleaned)

刪除包含 NaN 的列後的 DataFrame：
   col1 col2  col3
0   1.0    a   1.1

In [5]:
# 直接在原 DataFrame 上刪除包含 NaN 的列
df.dropna(inplace=True)
print("\n在原 DataFrame 上刪除包含 NaN 的列後的 DataFrame：")
print(df)

在原 DataFrame 上刪除包含 NaN 的列後的 DataFrame：
   col1 col2  col3
0   1.0    a   1.1

In [6]:
# 只有當該列的所有值都是 NaN 時，才刪除該列
data2 = {'col1': [1, 2, np.nan, 4], 
        'col2': ['a', np.nan, np.nan, 'd'], 
        'col3': [1.1, 2.2, np.nan, np.nan]}
df2 = pd.DataFrame(data2)
print("\n原始 DataFrame2：")
print(df2)

原始 DataFrame2：
   col1 col2  col3
0   1.0    a   1.1
1   2.0  NaN   2.2
2   NaN  NaN   NaN
3   4.0    d   NaN

In [7]:
df2_cleaned = df2.dropna(how='all')
print("\n刪除所有值都是 NaN 的列後的 DataFrame2：")
print(df2_cleaned)

刪除所有值都是 NaN 的列後的 DataFrame2：
   col1 col2  col3
0   1.0    a   1.1
1   2.0  NaN   2.2
3   4.0    d   NaN

In [8]:
# 指定要檢查的列名列表
data3 = {'col1': [1, 2, np.nan, 4], 
        'col2': ['a', np.nan, 'c', 'd'], 
        'col3': [1.1, 2.2, 3.3, np.nan]}
df3 = pd.DataFrame(data3)
print("\n原始 DataFrame3：")
print(df3)

原始 DataFrame3：
   col1 col2  col3
0   1.0    a   1.1
1   2.0  NaN   2.2
2   NaN    c   3.3
3   4.0    d   NaN

In [9]:
df3_cleaned = df3.dropna(subset=['col1','col3'])
print("\n刪除col1或col3包含NaN的列後的 DataFrame3：")
print(df3_cleaned)

刪除col1或col3包含NaN的列後的 DataFrame3：
   col1 col2  col3
0   1.0    a   1.1
1   2.0  NaN   2.2

In [10]:
# 建立一個包含 NaN 的 DataFrame
data = {'col1': [1, 2, np.nan, 4], 
        'col2': ['a', np.nan, 'c', 'd'], 
        'col3': [np.nan, np.nan, np.nan, np.nan]}
df = pd.DataFrame(data)

print("原始 DataFrame：")
print(df)

原始 DataFrame：
   col1 col2  col3
0   1.0    a   NaN
1   2.0  NaN   NaN
2   NaN    c   NaN
3   4.0    d   NaN

In [11]:
# 刪除任何包含 NaN 的欄
df_cleaned = df.dropna(axis='columns')  # 或 axis='columns'
print("\n刪除包含 NaN 的欄後的 DataFrame：")
print(df_cleaned)

刪除包含 NaN 的欄後的 DataFrame：
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]