In [2]:
!pip install jinja2

Requirement already satisfied: jinja2 in /opt/conda/lib/python3.12/site-packages (3.1.6)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/conda/lib/python3.12/site-packages (from jinja2) (3.0.2)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager, possibly rendering your system unusable. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv. Use the --root-user-action option if you know what you are doing and want to suppress this warning.

In [3]:
import numpy as np
import pandas as pd
import matplotlib as mpl

df = pd.DataFrame({
    "strings": ["Adam", "Mike"],
    "ints": [1, 3],
    "floats": [1.123, 1000.23]
})
df

  strings  ints    floats
0    Adam     1     1.123
1    Mike     3  1000.230

#-format()
#-format_index()

In [4]:
df.style\
.format(
    precision=2,
    thousands=',',
    decimal=','
    ).format_index(axis=1,formatter=str.upper)\
.relabel_index(["row1",'row2'],axis=0)

In [5]:
import pandas as pd
import numpy as np

# 建立一個範例 DataFrame
data = {'A': [1234.5678, 9876.5432, np.nan],
        'B': [0.1234, 0.5678, 0.9012],
        'C': [10, 20, 30]}
df = pd.DataFrame(data)
df

           A       B   C
0  1234.5678  0.1234  10
1  9876.5432  0.5678  20
2        NaN  0.9012  30

In [6]:
df1 = df.style.format("{:.2f}",subset=['A','B'])
df1

In [7]:
weather_df = pd.DataFrame(np.random.rand(10,2)*5,
                        index=pd.date_range(start="2021-01-01", periods=10),
                        columns=["Tokyo", "Taipei"])
weather_df.style\
.set_caption("Weather Conditions")\
.background_gradient(axis=None,vmin=1,vmax=5,cmap='PuBuGn')

In [8]:
# weather_df.style\
# .set_caption("Weather Conditions")\
# .background_gradient(axis=None,vmin=1,vmax=5,cmap='PuBuGn')\
# .to_excel('test.xlsx')

In [9]:
def rain_look(v):
    if v<1.27:
        return '乾燥'
    elif v>3.84 :
        return '小雨'
    else:
        return '大雨'

def chang_index(t):
    return t.strftime('%Y年%m月%d日')

weather_df.style\
.set_caption("Weather Conditions")\
.background_gradient(axis=None,vmin=1,vmax=5,cmap='PuBuGn',subset=['Tokyo'])\
.format(rain_look)\
.format_index(chang_index)

In [10]:
import numpy as np
np.random.seed(0)
df2 = pd.DataFrame(np.random.randn(10,4), columns=['A','B','C','D'])
display(df2.style)

In [14]:
def style_negative(v):
    if v<0:
        return 'color:#9900FF;background-color:white'
df2.style.applymap(style_negative)

/tmp/ipykernel_5866/936997501.py:4: FutureWarning: Styler.applymap has been deprecated. Use Styler.map instead.
  df2.style.applymap(style_negative)

In [15]:
import numpy as np
import pandas as pd

scores = np.random.randint(50, 101, size=(50, 5))
df = pd.DataFrame(scores,
             columns=['國文', '英文', '數學', '地理', '歷史'],
             index=range(1,51)
             )
df.index.name = '學號'
df.columns.name = '科目'
df

科目   國文   英文   數學   地理  歷史
學號
1    64   85   62   92  70
2    61   54   56   54  97
3    53   62   86   90  64
4    65   70   85   73  65
5    63   71   98   99  55
6    91   85   50   81  55
7    80   50   99  100  86
8    84   98   79   53  84
9    92   63   98   89  71
10   59   50   60  100  93
11   73   52   84   85  80
12   53   68   96   85  70
13   67  100   77   64  91
14   51   86   60   72  93
15   90   61   52   66  82
16   50   88   69   96  92
17   90   63   80   74  52
18   53   80   84   93  63
19   98   90   58   69  81
20   58   76   52   53  94
21   64   82   54   53  95
22   61   72   63   95  61
23   66   74   79   71  96
24   75   66   69   83  90
25   82   86   56   71  81
26   63   57   74   65  91
27   68   90   65   61  88
28   97   79   51   81  94
29   74   74   53   68  97
30   53   92   62   88  85
31   72   55   73   93  82
32   61   90   70   60  93
33   87   78   97   90  52
34   77   69   75   73  96
35   70   79   53   85  89
36   59   59   91   73  53
37   96   76  100   94  53
38   81   59   60   77  95
39   57   89   71   83  94
40   84   84   74   83  55
41   90   86   50   61  84
42   55   66   58   51  67
43   98   85   77   90  86
44   98   75   53   89  85
45  100   80   79   99  83
46   68   67   79   70  52
47   55   87   62   94  52
48   97   77   71   89  89
49   61   72   80   67  56
50   57   68   78   93  69

In [16]:
def less_60(v):
    if v < 60:
        return 'background-color:yellow'

df.style.applymap(less_60)

/tmp/ipykernel_5866/2353101454.py:5: FutureWarning: Styler.applymap has been deprecated. Use Styler.map instead.
  df.style.applymap(less_60)

In [17]:
def style_cells(row):
    if len(row[row < 60]) >= 3:
        return ['background-color: red' for _ in row]
    else:
        return ['','','','','']

df.style.apply(style_cells, axis=1)