In [2]:
!pip install jinja2

Requirement already satisfied: jinja2 in /opt/conda/lib/python3.12/site-packages (3.1.6)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/conda/lib/python3.12/site-packages (from jinja2) (3.0.2)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager, possibly rendering your system unusable. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv. Use the --root-user-action option if you know what you are doing and want to suppress this warning.

In [3]:
import numpy as np
import pandas as pd
import matplotlib as mpl

df = pd.DataFrame({
    "strings": ["Adam", "Mike"],
    "ints": [1, 3],
    "floats": [1.123, 1000.23]
})
df

  strings  ints    floats
0    Adam     1     1.123
1    Mike     3  1000.230

#-format()
#-format_index()

In [4]:
df.style\
.format(
    precision=2,
    thousands=',',
    decimal=','
    ).format_index(axis=1,formatter=str.upper)\
.relabel_index(["row1",'row2'],axis=0)

In [5]:
import pandas as pd
import numpy as np

# 建立一個範例 DataFrame
data = {'A': [1234.5678, 9876.5432, np.nan],
        'B': [0.1234, 0.5678, 0.9012],
        'C': [10, 20, 30]}
df = pd.DataFrame(data)
df

           A       B   C
0  1234.5678  0.1234  10
1  9876.5432  0.5678  20
2        NaN  0.9012  30

In [6]:
df1 = df.style.format("{:.2f}",subset=['A','B'])
df1

In [7]:
weather_df = pd.DataFrame(np.random.rand(10,2)*5,
                        index=pd.date_range(start="2021-01-01", periods=10),
                        columns=["Tokyo", "Taipei"])
weather_df.style\
.set_caption("Weather Conditions")\
.background_gradient(axis=None,vmin=1,vmax=5,cmap='PuBuGn')

In [8]:
# weather_df.style\
# .set_caption("Weather Conditions")\
# .background_gradient(axis=None,vmin=1,vmax=5,cmap='PuBuGn')\
# .to_excel('test.xlsx')

In [11]:
def rain_look(v):
    if v<1.27:
        return '乾燥'
    elif v>3.84 :
        return '小雨'
    else:
        return '大雨'

weather_df.style\
.set_caption("Weather Conditions")\
.background_gradient(axis=None,vmin=1,vmax=5,cmap='PuBuGn',subset=['Tokyo'])\
.format(rain_look)