In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -0.366693  1.076341
1    a  two -2.179694 -1.209349
2    b  one -1.737210  0.575010
3    b  two -0.472330  0.369015
4    a  one  0.703672  0.193139

In [4]:
#Series的Groupby
goruped = df['data1'].groupby(['台北','台北','台北','台中','台中'])
goruped

In [5]:
goruped.mean()

台中    0.115671
台北   -1.427866
Name: data1, dtype: float64

In [6]:
df['data1'].groupby(df['key2']).mean()

key2
one   -0.466743
two   -1.326012
Name: data1, dtype: float64

In [7]:
s1 = df['data1'].groupby([df['key1'],df['key2']]).mean()
s1

key1  key2
a     one     0.168490
      two    -2.179694
b     one    -1.737210
      two    -0.472330
Name: data1, dtype: float64

In [8]:
s1.unstack(level='key1')

key1         a        b
key2
one   0.168490 -1.73721
two  -2.179694 -0.47233

In [12]:
df.groupby('key1')['data1'].mean()

key1
a   -0.614238
b   -1.104770
Name: data1, dtype: float64

In [13]:
df.groupby('key1')[['data1','data2']].mean()

         data1     data2
key1
a    -0.614238  0.020044
b    -1.104770  0.472013

In [14]:
df.groupby(['key1','key2'])[['data1','data2']].mean()

              data1     data2
key1 key2
a    one   0.168490  0.634740
     two  -2.179694 -1.209349
b    one  -1.737210  0.575010
     two  -0.472330  0.369015

In [15]:
df.groupby(['key1','key2'])[['data1','data2']].sum()

              data1     data2
key1 key2
a    one   0.336979  1.269480
     two  -2.179694 -1.209349
b    one  -1.737210  0.575010
     two  -0.472330  0.369015