In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one  0.672924 -1.137712
1    a  two  1.526098 -0.154604
2    b  one -0.293866  0.248054
3    b  two -1.151914 -0.396722
4    a  one -0.792494 -0.090529

In [2]:
df1 = df.set_index(keys=['key1','key2'])
df1

              data1     data2
key1 key2
a    one   0.672924 -1.137712
     two   1.526098 -0.154604
b    one  -0.293866  0.248054
     two  -1.151914 -0.396722
a    one  -0.792494 -0.090529